body{
    font-family: sans-serif;
    margin: 0;
    background-color: #CCEDE9;
}


header{
    display: flex;
    min-height: 70px;
    background-color: #51C2AB;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

a{
    text-decoration: none;
    color: black;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 70px;
    margin-right: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;

}

nav a:hover{
    color: white;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }

    .contenedor{
        padding: 60px 0;
        width: 90%;
        max-width: 1000px;
        margin: auto;
        overflow: hidden;
    }


    


}


